<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <label class="label"><%= form.label :title %></label>
  
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="field">
     <label class="label">  <%= form.label :content %></label>

  
    <%= form.text_area :content, class: "textarea"%>
  </div>

    <div class="field">
       <label class="label"><%= form.label :category%></label>


 
      <%= form.collection_select :category_id, Category.all, :id, :name  %>
    </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
