<% @posts.each do | post | %>
  <div class="box">
  	<article class="media">

  		<div class="media-content">
  			<div class="content">

			  <div class="columns">
			  	<div class="column post">
				  	<p>Posted by <%= post.user.username%></p>
				</div>
				<div class="column post ">
					<p class="is-pulled-right has-text-grey	"><%= post.created_at.strftime("%B %d, %Y") %></p>	
				</div>					  
			  </div>
				<h1 class="post-title"><%= post.title %></h1>	
				<div>
					<p><%= post.content %></p>
				</div>
  			</div>
     
  			<nav class="level">
  				<div class="level-left">
  					<%= link_to post, class: "level-item" do %>
  					  <button class="button is-success">Go to post</button>
  					<% end %>
				</div>
				            <% if (user_signed_in? && current_user.username.eql?(post.user.username))%>

					<div class="level-right">
						<%= link_to edit_post_path (post), class: "level-item" do %>
						<button class="button is-warning">Edit</button>
						<% end %>
						<%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
							<button class="button is-danger">Delete</button>
						<% end %>
					</div>
			<% end%>
  			</nav>

  		</div>
  	</article>
  </div>
<% end %>
